.group-child19 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white1);
    width: 1440px;
    height: 1833px;
  }
  .p2,
  .p3,
  .p4 {
    margin: 0;
  }
  .div40,
  .div41 {
    position: absolute;
    top: 391.2px;
    left: 307px;
    font-weight: 500;
    display: inline-block;
    width: 793px;
    height: 30.4px;
  }
  .div41 {
    top: 286px;
    left: 313px;
    font-size: var(--font-size-21xl);
  }
  .rectangle-parent4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 1833px;
  }
  .urbanbrush-2022110711181159771-icon {
    position: absolute;
    top: 502.8px;
    left: 429px;
    width: 555px;
    height: 552.6px;
    object-fit: cover;
  }
  .group-child20 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-31xl);
    width: 807px;
    height: 186.1px;
  }
  .group-child21 {
    position: absolute;
    top: 28.3px;
    left: 56px;
    border-radius: 70px;
    width: 695px;
    height: 52.6px;
  }
  .div42 {
    position: absolute;
    top: 117.3px;
    left: 269px;
    font-weight: 500;
    display: inline-block;
    width: 269px;
    height: 29.9px;
  }
  .charity-box-icon7 {
    position: absolute;
    top: 80.9px;
    left: 189px;
    width: 80px;
    height: 97.1px;
    object-fit: cover;
  }
  .group-parent15,
  .group-wrapper,
  .vector-parent4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 807px;
    height: 186.1px;
  }
  .group-parent15,
  .group-wrapper {
    top: 74px;
    left: 303px;
    font-size: var(--font-size-xl);
  }
  .group-parent15 {
    top: 0;
    left: 0;
    width: 1440px;
    height: 1833px;
    font-size: var(--font-size-5xl);
  }
  .div43 {
    position: absolute;
    top: 1169px;
    left: 575px;
    font-weight: 500;
    display: inline-block;
    width: 290px;
    height: 60px;
  }
  .donation-child5 {
    position: absolute;
    top: 1131.5px;
    left: -0.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 1428px;
    height: 1px;
  }
  .donation-child6 {
    position: absolute;
    top: 1266px;
    left: 40px;
    border-radius: var(--br-31xl);
    background-color: #46e87d;
    width: 1387px;
    height: 123px;
  }
  .div44 {
    position: absolute;
    top: 1298px;
    left: 537px;
    font-weight: 500;
    display: inline-block;
    width: 394px;
    height: 60px;
  }
  .donation7 {
    width: 100%;
    position: relative;
    background-color: var(--color-white1);
    height: 3981px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  